[submodule "ranger/plugins/ranger_devicons"]
	path = ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
[submodule "scripts/dotbot"]
	path = scripts/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "editor/nvim"]
	path = editor/nvim
	url = https://github.com/rafi/vim-config.git
[submodule "tmux/tmux-config"]
	path = tmux/tmux-config
	url = https://github.com/jschwrtz/tmux-config.git
