.DS_Store
homebrew/Brewfile
dash/*.docset
shell/fish/functions/_pisces_skip.fish
shell/fish/functions/tail.fish
shell/fish/functions/ls.fish
shell/fish/functions/z.awk
shell/fish/functions/netstat.fish
shell/fish/functions/fuck.fish
shell/fish/functions/g++.fish
shell/fish/functions/traceroute.fish
shell/fish/functions/fzf_key_bindings.fish
shell/fish/functions/mount.fish
shell/fish/functions/__fzf_parse_commandline.fish
shell/fish/functions/_pisces_complete.fish
shell/fish/functions/cat.fish
shell/fish/functions/__bass.py
shell/fish/functions/make.fish
shell/fish/functions/__fzf_reverse_isearch.fish
shell/fish/functions/bobthefish_display_colors.fish
shell/fish/functions/bass.fish
shell/fish/functions/zadd.awk
shell/fish/functions/getopts.fish
shell/fish/functions/__fzf_complete.fish
shell/fish/functions/__bobthefish_colors.fish
shell/fish/functions/pyenv.fish
shell/fish/functions/__fzf_get_dir.fish
shell/fish/functions/rbenv.fish
shell/fish/functions/get.fish
shell/fish/functions/diff.fish
shell/fish/functions/__bobthefish_display_colors.fish
shell/fish/functions/fish_prompt.fish
shell/fish/functions/dig.fish
shell/fish/functions/wdiff.fish
shell/fish/functions/_grc_wrap.fish
shell/fish/functions/thefuck-command-line.fish
shell/fish/functions/__fzf_cd.fish
shell/fish/functions/ps.fish
shell/fish/functions/_pisces_jump.fish
shell/fish/functions/gcc.fish
shell/fish/functions/__fzfcmd.fish
shell/fish/functions/_pisces_backspace.fish
shell/fish/functions/__z.fish
shell/fish/functions/_pisces_bind_pair.fish
shell/fish/functions/_pisces_lookup.fish
shell/fish/functions/cvs.fish
shell/fish/functions/ping.fish
shell/fish/functions/__tf_updt.fish
shell/fish/functions/fishkit.fish
shell/fish/functions/mtr.fish
shell/fish/functions/df.fish
shell/fish/functions/ifconfig.fish
shell/fish/functions/zclean.awk
shell/fish/functions/__bobthefish_glyphs.fish
shell/fish/functions/fish_title.fish
shell/fish/functions/fish_mode_prompt.fish
shell/fish/functions/__z_add.fish
shell/fish/functions/man.fish
shell/fish/functions/humanize_duration.fish
shell/fish/functions/menu.fish
shell/fish/functions/__z_complete.fish
shell/fish/functions/__z_clean.fish
shell/fish/functions/_pisces_append.fish
shell/fish/functions/__fzf_find_file.fish
shell/fish/functions/_pisces_remove.fish
