<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>jtm.openinbrowser</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>039240D2-7E49-4EB9-9917-A61A9FEBD332</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>596ACEEF-C79B-4648-8C14-7693EDBCD195</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0567B237-9261-4ED6-A336-502BC422DDE8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1F6DB29F-AD13-4A8E-AF09-35246FE72F1B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>155C4C1B-90B0-4AA2-A2A4-9D227D67EAED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8DC55640-CD26-487E-BA76-F8F86105F196</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1F6DB29F-AD13-4A8E-AF09-35246FE72F1B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1ECBD69C-F250-4AAF-BE3E-462C5A49ACFB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>39FA6322-C327-464A-8F9E-72D767DC1EF1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8DC55640-CD26-487E-BA76-F8F86105F196</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>429FDDD6-588D-49F7-BEB3-9DB1E7F9D0E7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9F019F78-7032-44B0-B598-5740FFAC61C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>596ACEEF-C79B-4648-8C14-7693EDBCD195</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E5E3A605-2FF1-4EFD-8A43-B3450408AA58</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7CE121C1-C6B1-434E-B837-5BAE992E9C57</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1F6DB29F-AD13-4A8E-AF09-35246FE72F1B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8DC55640-CD26-487E-BA76-F8F86105F196</key>
		<array/>
		<key>8DE8971E-4D6C-4DB6-B5B7-514F25B0D3AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>592EA114-5659-43B1-AD0B-CB0B05AD0A8B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9A08D6E9-B0C6-4957-8B0E-7D2B4D47E29C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8DE8971E-4D6C-4DB6-B5B7-514F25B0D3AA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9F019F78-7032-44B0-B598-5740FFAC61C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C01F8C86-E9F5-4811-A599-DD75647A61D3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B3A25D8F-E472-4A49-9E45-FFC328574D53</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9F019F78-7032-44B0-B598-5740FFAC61C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BBB42790-1BEF-434C-8F7B-03C24DFC0E4D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>596ACEEF-C79B-4648-8C14-7693EDBCD195</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EA2B8CE7-9B84-4346-B5AB-5C77CEF5AB1D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8DE8971E-4D6C-4DB6-B5B7-514F25B0D3AA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>JayTheMarketer</string>
	<key>description</key>
	<string>Send current tab to another browser (Safari, Chrome, Firefox, Edge, or Opera)</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open in Browser</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>BBB42790-1BEF-434C-8F7B-03C24DFC0E4D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>38</integer>
				<key>script</key>
				<string>osascript open_in_chrome.scpt</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>596ACEEF-C79B-4648-8C14-7693EDBCD195</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<true/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Open in Browser</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E5E3A605-2FF1-4EFD-8A43-B3450408AA58</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>opc</string>
				<key>subtext</key>
				<string>Open current Safari tab in Chrome</string>
				<key>text</key>
				<string>Open in Chrome</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>039240D2-7E49-4EB9-9917-A61A9FEBD332</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<true/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Open in Browser</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1ECBD69C-F250-4AAF-BE3E-462C5A49ACFB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>38</integer>
				<key>script</key>
				<string>osascript open_in_firefox.scpt</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1F6DB29F-AD13-4A8E-AF09-35246FE72F1B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7CE121C1-C6B1-434E-B837-5BAE992E9C57</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>opf</string>
				<key>subtext</key>
				<string>Open current Safari tab in Firefox</string>
				<key>text</key>
				<string>Open in Firefox</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0567B237-9261-4ED6-A336-502BC422DDE8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>osascript open_in_edge.scpt</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9F019F78-7032-44B0-B598-5740FFAC61C1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<true/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Open in Browser</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C01F8C86-E9F5-4811-A599-DD75647A61D3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B3A25D8F-E472-4A49-9E45-FFC328574D53</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ope</string>
				<key>subtext</key>
				<string>Open current Safari tab in Edge</string>
				<key>text</key>
				<string>Open in Edge</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>429FDDD6-588D-49F7-BEB3-9DB1E7F9D0E7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<true/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Open in Browser</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>592EA114-5659-43B1-AD0B-CB0B05AD0A8B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>38</integer>
				<key>script</key>
				<string>osascript open_in_opera.scpt</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8DE8971E-4D6C-4DB6-B5B7-514F25B0D3AA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>9A08D6E9-B0C6-4957-8B0E-7D2B4D47E29C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>opo</string>
				<key>subtext</key>
				<string>Open current Safari tab in Opera</string>
				<key>text</key>
				<string>Open in Opera</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EA2B8CE7-9B84-4346-B5AB-5C77CEF5AB1D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>155C4C1B-90B0-4AA2-A2A4-9D227D67EAED</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>osascript open_in_safari.scpt</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8DC55640-CD26-487E-BA76-F8F86105F196</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ops</string>
				<key>subtext</key>
				<string>Open current tab in Safari</string>
				<key>text</key>
				<string>Open in Safari</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>39FA6322-C327-464A-8F9E-72D767DC1EF1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Open in Browser

This is a workflow for [Alfred](https://www.alfredapp.com) forked from [AndrewC-B/alfred-open-in-chrome](https://github.com/AndrewC-B/alfred-open-in-chrome) and extended to include Firefox, Edge, and Opera functionality.

## Usage Notes

- If Safari is either not open, or has no windows open, the workflow will post a notification saying so.

- If you'd like it to also post notifications when URLs are successfully sent to Chrome, Firefox, Edge, or Opera, just open the workflow folder (right click the workflow in Alfred and click Show in Finder) and edit the appropriate line in the respective file (they're clearly named and it's clearly marked within each file).

- The reverse behaviour is also available (i.e.: sending URLs from Chrome/Firefox/Edge/Opera to Safari).</string>
	<key>uidata</key>
	<dict>
		<key>039240D2-7E49-4EB9-9917-A61A9FEBD332</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>0567B237-9261-4ED6-A336-502BC422DDE8</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>435</integer>
		</dict>
		<key>155C4C1B-90B0-4AA2-A2A4-9D227D67EAED</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>1100</integer>
		</dict>
		<key>1ECBD69C-F250-4AAF-BE3E-462C5A49ACFB</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>1F6DB29F-AD13-4A8E-AF09-35246FE72F1B</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>39FA6322-C327-464A-8F9E-72D767DC1EF1</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>1220</integer>
		</dict>
		<key>429FDDD6-588D-49F7-BEB3-9DB1E7F9D0E7</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>685</integer>
		</dict>
		<key>592EA114-5659-43B1-AD0B-CB0B05AD0A8B</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>820</integer>
		</dict>
		<key>596ACEEF-C79B-4648-8C14-7693EDBCD195</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>7CE121C1-C6B1-434E-B837-5BAE992E9C57</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>8DC55640-CD26-487E-BA76-F8F86105F196</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>1100</integer>
		</dict>
		<key>8DE8971E-4D6C-4DB6-B5B7-514F25B0D3AA</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>820</integer>
		</dict>
		<key>9A08D6E9-B0C6-4957-8B0E-7D2B4D47E29C</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>820</integer>
		</dict>
		<key>9F019F78-7032-44B0-B598-5740FFAC61C1</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>565</integer>
		</dict>
		<key>B3A25D8F-E472-4A49-9E45-FFC328574D53</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>565</integer>
		</dict>
		<key>BBB42790-1BEF-434C-8F7B-03C24DFC0E4D</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>C01F8C86-E9F5-4811-A599-DD75647A61D3</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>565</integer>
		</dict>
		<key>E5E3A605-2FF1-4EFD-8A43-B3450408AA58</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>EA2B8CE7-9B84-4346-B5AB-5C77CEF5AB1D</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>970</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.1.2</string>
	<key>webaddress</key>
	<string>https://github.com/JayTheMarketer/alfred-open-in-browser</string>
</dict>
</plist>
